<html>
    <body>
        
        <h1>Create Movie Page</h1>

         
             <form action="/Create_M/getdata" method="POST">

                <label for="Name">Name:</label><br>
                <input type="text" id="Name" name="Name"><br>
                <select id="Language" name="Language">
                    <option value="English">English</option>
                    <option value="Hebrew">Hebrew</option>
                </select><br><br>

                <label for="genres">genres:</label><br>
                <input type="checkbox" id="genres1" name="genres" value="Thriller">
                <label for="genres1"> Westerns</label><br>
                <input type="checkbox" id="genres2" name="genres" value="War">
                <label for="genres2"> war</label><br>
                <input type="checkbox" id="genres3" name="genres" value="Historitic">
                <label for="genres3"> historitic</label><br>
                <input type="checkbox" id="genres4" name="genres" value="Crime">
                <label for="genres4"> crime</label><br>
                <input type="checkbox" id="genres5" name="genres" value="Drama">
                <label for="genres5"> drama</label><br>
                <input type="checkbox" id="genres6" name="genres" value="Fantasy">
                <label for="genres6"> fantasy</label><br><br>

                <input type="submit" value="Send">
              </form> 

    </body>
</html>