<html>

  <head>

    <title>Login Page </title>
    

  </head>

  <body>

    <h1></h1>
    <p></p>
    <h1><%= msg %></h1>

     <form action="/users/getdata" method="POST">
        <label for="fname">First name:</label><br>
        <input type="text" id="Username" name="Username"><br>
        <label for="Password">Password:</label><br>
        <input type="text" id="Password" name="Password"><br><br>
        <input type="submit" value="Send">
      </form> 

  </body>

</html>