<html>
    <body>
        
        <h1>Products Page</h1>

        <ul>

                <li><a href="/Search_M/" >Search Movies</a> </li>
                <li><a href="/Create_M/" >Create Movie</a> </li>
                <li><a href="/Management_U/" >Edit Users</a> </li>

        </ul>
    </body>
</html>